# Dev #
.*.swp
._*
.DS_Store
.git
.hg
.npmrc
.lock-wscript
.svn
.wafpickle-*
config.gypi
*.ts
!*.d.ts
tests
e2e
karma.conf.js
karma-test-shim.js
coverage
npm-debug.log

## project specific
# test folder
test
# src folder
lib
# other files
_config.yml
.editorconfig
.eslintignore
.eslintrc
.gitignore
CHANGELOG.md
README.md
assets
.github
bin/.gitkeep
.prettierrc
.prettierignore
jest.config.js
src
eslintrc.json
jest.config.ts
project.json
README.md
tsconfig.json
tsconfig.lib.json
tsconfig.spec.json
assets
mocks
out-tsc
*.ts.map
